 <div class="" style="text-align: center;margin-bottom: 50px">
  <button (click)="otvorMenu(menu.OSOBY)">Users</button>
  <button (click)="otvorMenu(menu.KNIHY)">Books</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">Borrowed books</button>
 </div>

<div style="margin: 0 100px 0 100px;padding: 5%;">

  <div *ngIf="aktMenu == menu.OSOBY">
    ID: <input [(ngModel)]="osoba.id" [disabled]="zakaz"><br>
    Name: <input [(ngModel)]="osoba.meno" [disabled]="zakaz"><br>
    Contact: <input [(ngModel)]="osoba.kontakt" [disabled]="zakaz"><br>
    <button (click)="pridajO()">Pridaj</button>
    <h2>ZOZNAM</h2>
    <div *ngFor="let o of osoby">
      {{o.id}} {{o.meno}} {{o.kontakt}};
    </div>
  </div>



  <div *ngIf="aktMenu == menu.KNIHY">
    <h2>Knihy</h2>
  </div>



  <div *ngIf="aktMenu == menu.VYPOZICKY">
    ID: <input [(ngModel)]="pozicana.id" [disabled]="zakaz"><br>
    Book: <input [(ngModel)]="pozicana.kniha" [disabled]="zakaz"><br>
    User: <input [(ngModel)]="pozicana.zakaznik" [disabled]="zakaz"><br>
    <button (click)="pridajP()">Pridaj</button>
    <h2>ZOZNAM</h2>
    <div *ngFor="let p of pozicane">
     {{p.id}} {{p.kniha}} {{p.zakakznik}};
    </div>
  </div>
</div>
