 <div class="" style="text-align: center;margin-bottom: 50px">
  <button (click)="otvorMenu(menu.OSOBY)">Users</button>
  <button (click)="otvorMenu(menu.KNIHY)">Books</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">Borrowed books</button>
 </div>

<div style="margin: 0px 100px 0px 100px;padding: 5%;background-color: antiquewhite">
  <div *ngIf="aktMenu == menu.OSOBY">

  </div>



  <div *ngIf="aktMenu == menu.KNIHY">

  </div>



  <div *ngIf="aktMenu == menu.VYPOZICKY">
    ID: <input [(ngModel)]="pozicana.id" [disabled]="zakaz"><br>
    Book: <input [(ngModel)]="pozicana.kniha" [disabled]="zakaz"><br>
    User: <input [(ngModel)]="pozicana.zakaznik" [disabled]="zakaz"><br>
    <button (click)="pridajP()">Pridaj</button>
    <h2>ZOZNAM</h2>
    <div *ngFor="let p of pozicane">
     {{p.id}} {{p.kniha}} {{p.zakakznik}};
    </div>
  </div>
</div>
