<div class="content" role="main">

  dec: <input [(ngModel)]="desiatkove"(change)="prevodDo2()">

  <br><br>
  <a>&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;0</a>
  <br>

  <input type="checkbox" [(ngModel)]="bity[7]">
  <input type="checkbox" [(ngModel)]="bity[6]">
  <input type="checkbox" [(ngModel)]="bity[5]">
  <input type="checkbox" [(ngModel)]="bity[4]">
  <input type="checkbox" [(ngModel)]="bity[3]">
  <input type="checkbox" [(ngModel)]="bity[2]">
  <input type="checkbox" [(ngModel)]="bity[1]">
  <input type="checkbox" [(ngModel)]="bity[0]">

</div>
